*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color:#000000;
  color: #e9e2e7;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.heading{
  margin-top: 15px;
  margin-left: 10px;
}

/*Styling for discover*/
.discover-layout{
  display: flex;
  flex-direction: column;
}

.discover-card{
  display:flex;
  flex-wrap: wrap;
  @media (min-width:640px) {
    justify-content: flex-start;
  }
  justify-content: center;
  gap: 32px;
}
/*.discover-styling{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(min-width:640px){
  .sm\:flex-row {
    flex: row;
  }
}*/

